/*****GENEREL*****/
img {
  display: block;
  width: 100%;
  /* height: auto; */
}

body {
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
p {
  font-family: "Futura PT book";
}

/*****HEADER SECTION*****/
@media (min-width: 600px) {
  header {
    align-items: baseline;
  }

  /* header nav ul {
    gap: 100px;
  } */
}

header {
  position: static;
  /* top: 0; */
  padding: 1rem 1rem;
  /* gap: 200px; */
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  /* justify-content: right; */
  list-style: none;
  margin: 0;
  /* padding: 0; */
  padding-bottom: 0.4rem;
  /* gap: 10px; */
  overflow-x: auto;
}

header nav ul li a {
  font-family: "Futura PT book";
  width: 100px;
  /* border-radius: 10px; */
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 23px;
  /* font-weight: normal; */
}

header a:hover {
  color: #82a177;
}

header .logo {
  /* font-size: 2rem; */
  width: 200px;
  /* text-align: left; */
  margin-bottom: 0.5rem;
}

/*****SPLASH SECTION*****/
@media (orientation: portrait) and (min-width: 500px) {
  #splash_section {
    width: 100%;
    height: 50px;
  }
}

#splash_section {
  width: 100%;
  height: 100vh;
  background-image: url(img/bregner.jpg);
  background-size: cover;
  background-position: 50%;

  display: grid;
  place-content: center;
  grid-column: 1/4;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#splash_section {
  max-width: none;
}

/*
#splash_section .section_wrapper {
  max-width: 600px;
}
*/
/*****GRID MED 2 KOLONNER PLACERET PÅ MIDTEN*****/
/*
@media only screen and (min-width: 600px) {
  #main {
  }

  #main > section {
    grid-column: 2/3;
  }
}

main {
  height: auto;
}
*/
section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*
@media (min-width: 700px) {
  #first_section .section_wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
  }
}
*/

@media (min-width: 700px) {
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: justify;
  }
}

/*****FOOTER SECTION*****/
@media (min-width: 700px) {
  #footer_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 300px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#footer_section {
  background-color: #82a177;
  color: white;
  display: block;
}

#footer_section img {
  height: 50px;
  width: auto;
  display: inline-grid;
  margin: 20px;
}

/*****HOVER EFFEKTER*****/
#first_section img:hover {
  /* border: 5px solid #ef00bf; */
}

/*****FIRST SECTION*****/
#first_section img {
  /* border: 5px solid white; */
}

/*****Styler billederne*****/

@media (max-width: 700px) {
  .gallery_img {
    /* width: 100%;
    height: auto; */
  }
}

@media (min-width: 700px) {
  .container {
    /*
    width: 100%;
    height: auto;
    margin: auto;
    */
  }
}

figure {
  margin: 0;
  padding: 0;
  /*height: 600px;*/
}

/*****GALLERY GRID*****/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*
  grid-gap: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  */
}
.gallery_img {
  /* object-fit: cover;
  display: block; */
}
.image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.image4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.image5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
