/*****GENEREL*****/
img {
  display: block;
  width: 100%;
  /* height: auto; */
}

body {
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
p {
  font-family: "Futura PT book";
}

h1 {
  font-family: "Roboto";
  font-size: 7vw;
  margin: 0;
  letter-spacing: 0.5vw;
}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*Den her centrerer, istedet for at bruge main med 1fr minmax (0, 1200px) 1fr*/

/*****HEADER SECTION*****/
@media (min-width: 1000px) {
  header {
    align-items: baseline;
  }
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 0.4rem;
    overflow-x: auto;
  }
}

header {
  position: static;
  padding: 1rem 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul li a {
  font-family: "Futura PT book";
  width: 100px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 23px;
}

header a:hover {
  color: #82a177;
}

header .logo {
  width: 200px;
}

/*****BURGER*****/
.hidden {
  transform: translateX(100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  position: absolute;
  font-family: "Futura PT book";
  font-size: 3rem;
  margin-top: 20px;
  margin-left: 75vw;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top right;
}

@media (max-width: 1000px) {
  #menu {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu li {
    display: inline-block;
  }
}

/*****SPLASH SECTION*****/
#splash_section {
  width: 100%;
  height: 100vh;
  background-image: url(img/bregner.jpg);
  background-size: cover;
  background-position: 100%;

  display: grid;
  place-content: center;
}

#splash_section {
  max-width: none;
}

/******NEON SECTION*****/
@media (min-width: 600px) {
  #neon_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  #neon_section .col_left {
    border-left: 10px solid white;
    border-right: 5px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
  #neon_section .col_right {
    border-left: 5px solid white;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 10px 10px #ef00bf;
  }
}

@media (max-width: 600px) {
  #neon_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
  }
  #neon_section .col_left {
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 2.5px solid white;
  }
  #neon_section .col_right {
    padding-bottom: 10vw;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 2.5px solid white;
    border-bottom: 5px solid white;
    box-shadow: 0px 5px #ef00bf;
  }
}

#neon_section {
  color: white;
}

#neon_section .col_right {
  background-color: #7c7f84;
  padding-top: 10vw;
}

#neon_section h2 {
  letter-spacing: 3px;
}

#neon_section hr {
  max-width: 30vw;
  border: 1px white solid;
}

/*****THIRD SECTION (temaer)*****/
@media (min-width: 700px) {
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: justify;
  }
  #third_section {
    margin-top: 50px;
  }
}

#third_section hr {
  border: 2px solid #ef00bf;
}

/*****OM SECTION*****/
@media (min-width: 700px) {
  #om_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: justify;
  }
  #om_section {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

#om_section hr {
  border: 2px solid #ef00bf;
}

/*****GALLERY*****/
@media (min-width: 1000px) {
  .gallery {
    margin: 150px;
  }
  .tekst1 {
    top: 10vw;
    left: 9vw;
  }
  .tekst2 {
    top: 10vw;
    left: 40vw;
  }
  .tekst3 {
    top: 40vw;
    left: 9vw;
  }
  .tekst4 {
    top: 40vw;
    left: 40vw;
  }
  .tekst5 {
    top: 68vw;
    left: 24vw;
  }
}

@media (max-width: 1000px) {
  .gallery {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* .tekst1 {
    top: 35px;
    left: 20px;
  }
  .tekst2 {
    top: 35px;
    left: 235px;
  }
  .tekst3 {
    top: 250px;
    left: 20px;
  }
  .tekst4 {
    top: 250px;
    left: 235px;
  }
  .tekst5 {
    top: 445px;
    left: 120px;
  } */
}

#billed_tekst {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#billed_tekst:hover {
  color: #ef00bf;
  border: 3px solid #ef00bf;
}

figure {
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.image4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.image5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

/*****GALLERY 2*****/
@media (min-width: 1000px) {
  .gallery2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .gallery2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.gallery2 {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}

.image6 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image7 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.image8 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#gallery_section p {
  text-align: center;
}

/*****FOOTER SECTION*****/
@media (min-width: 1000px) {
  #footer_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 400px;
    margin-right: 300px;
  }
  #footer_section img {
    height: 50px;
    width: auto;
    display: inline-grid;
    margin: 20px;
  }
}

@media (max-width: 1000px) {
  #footer_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 70px;
  }
  #footer_section img {
    height: 30px;
    width: auto;
    display: inline-grid;
    margin-right: 40px;
    margin-bottom: 20px;
  }
}

#footer_section {
  background-color: #82a177;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
